<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ('CDN/bootstrap') %>

</head>
<body>
     <%- include ('Header/User_header') %>
 




    <%- include ('Chat/chat') %>
    <%- include ('Footer/user') %>
    <%- include ('CDN/javascript') %>
</body>
</html>