<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ('CDN/bootstrap') %>

</head>
<body>
     <%- include ('Header/User_header') %>
 
          <h3 class="text-center text-danger mt-4">My Appointments</h3>
             <div class="container mt-1">
               <div class="row mt-2">
                   <div class="col-sm-10 offset-sm-1 mt-2">
                  <% if(locals.datas) 
                  {%>
                     <table class="table table-primary table-striped-columns" id="palist">
                       <thead>
                             <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Email_Id</th>
                                <th>Phone</th>
                                <th>PDate</th>
                                <th>PTime</th>
                                <th>Address</th>
                             </tr>
                       </thead>
                       <tbody>
                          <% for(var i=0;i<datas.length; i++)
                          {%>
                              <tr>
                                    <td><%=datas[i].id%></td>
                                    <td><%=datas[i].name%></td>
                                    <td><%=datas[i].email%></td>
                                    <td><%=datas[i].phone%></td>
                                    <td><%=datas[i].presefered_date%></td>
                                    <td><%=datas[i].preffer_time%></td>
                                    <td><%=datas[i].address%></td>
                              </tr>
                          <%}%>
                        </tbody>
                     </table>
                     <%}%>
                
                    <% if(locals.mesg)
                    {%>  
                        <h6 align="center"><%=mesg%></h6>
                    <%}%>
           
        </div>
               </div>
             </div>

    <%- include ('Chat/chat') %>
    <%- include ('Footer/user') %>
    <%- include ('CDN/javascript') %>
</body>
</html>